/*This file is used to set the style of content <h1> <h2> <h3> <p> and the text in side bar*/
#contentDiv h2{
    font-size: 38px;
    font-weight: 600;
    margin: 100px auto 50px auto;
    display: flex;
    justify-content: center;
    width: 80%;
    font-family: inherit !important;
}

#contentDiv h3{
  font-size: 24px;
  font-weight: 560;
  border-top: 1px solid #C5CBD0;
  padding-top: 28px;
  margin: 40px auto 28px auto;
  width: 80%;
  font-family: inherit !important;
}

#contentDiv h4{
  font-size: 19px;
  font-weight: 560;
  color: #213547;
  margin: 20px auto 10px auto;
  width: 80%;
  font-family: inherit !important;
}

#contentDiv > p, .body>p, .body ol, .body ul{
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.2px;
  display: block;
  line-height: 28px;
  margin: 0 auto 20px auto;
  width: 80%;
}

.body ol, .body ul{
  width: 75%;
}

.box{
  background-color: var(--grey-3);
  border-top: solid 2px var(--grey);
  margin: 10px auto 30px auto;
  padding: 10px  0;
  box-sizing: border-box;
  width: 80%;
}

#contentDiv refer{
    font-size: 14px;
    font-weight: 300;
    color: var(--blue-grey);
    display: block;
    line-height: 20px;
    margin: 0 auto 10px auto;
    width: 80%;
    word-wrap: break-word;
    text-align: start;
}

#contentDiv img{
  padding-bottom: 10px;
  padding-top: 20px;
  width: 70%;
  height: auto;
}

imgCaption{
  width: 70%;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}

/*table*/
#contentDiv .tableContainer{
  margin: 30px auto 30px auto;
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 0px;
}

/*
The style of the side navigation
*/
.nav-text{
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  display: block;
  padding: 1vh 0px;
  padding-left: 20px;
  overflow-x: hidden;
  text-decoration: none;
  opacity: 0.7;
  cursor: pointer;
}

.nav-text.selected{
  opacity: 1;
  font-size: 18px;
  font-weight: bold;
}

.nav-text.mouseon{
  opacity: 1;
  font-size: 18px;
}

/**/

/*Not sure if the following is useful or not*/

/* Select Menu */
/* The container must be positioned relative: */
  .select-selected {
    background-color: #4CAF50;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }


